<div class="admin_title_container" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html" style="margin-top: 50px;">
    <span class="admin_title">
    MANAGEMENT

      <% 65.times do %>
        &nbsp;
        <% end %>
    </span>
</div>

<table>
  <tr>
    <td>
      <form action="" class="left" style="margin-top: 20px; margin-left: 20px;">
      <span class="admin_content">
        PASSWORD
        </span>
        <input name="password" type="text" style="width: 200px;">

        <%= image_submit_tag "/images/set_button.png" %>

      </form>
    </td>
    <td rowspan="2" style="max-width: 700px;">
      <%= form_for @result, :url => "", :html => { :multipart => true } do |form| %>
    <table class="admin_content">
         <tr>
           <td>#<%= @result.two_digit_number%></td>
           <td> </td>
           <td></td>
         </tr>
         <tr class="image_tr">
           <td> <%= image_tag @result.image1.url %> </td>
           <td> <%= image_tag @result.image2.url %> </td>
           <td></td>
         </tr>
         <tr>
           <td style="text-align: right;"> <%= form.file_field :image1 %> </td>
           <td style="text-align: right;"> <%= form.file_field :image2 %> </td>
           <td></td>
           <!--<td style="text-align: right;"> <img src="/images/open_button.png" />  </td>-->
           <!--<td style="text-align: right;"> <img src="/images/open_button.png" />  </td>-->
         </tr>
         <tr>
           <td><textarea name="text1" style="width: 95%; height: 150px; font-size: 12px;"><%= @result.text1 %></textarea></td>
           <td><textarea name="text2" style="width: 95%; height: 150px; font-size: 12px;"><%= @result.text2 %></textarea></td>
           <td><%= image_submit_tag "/images/save_button.png" %></td>
         </tr>
       </table>
      <% end %>
    </td>
  </tr>
  <tr>
    <td style="text-align: left; padding-left: 20px;">
      <span class="admin_content">
      RESULT
    </span>

      <p class="admin_content_sub">
        REQULAR
      </p>
      <% (0..3).each do |i| %>
          <p class="admin_content_sub">
          <% (1..12).each do |j| %>
              <% value = i * 12 + j %>

                <a style="color: white;" href="?number=<%= value%>"><%= value < 10 ? "[#0#{value}]" : "[##{value}]" %> </a>
          <% end %>
          </p>
      <% end %>

      <p class="admin_content_sub">
        INFANTS
      </p>

      <p class="admin_content_sub">
        <% (49..60).each do |j| %>
            <a style="color: white;" href="?number=<%= j%>"><%= "[##{j}]" %> </a>
        <% end %>
      </p>

      <p class="admin_content_sub">
        CHILD
      </p>

      <p class="admin_content_sub">
        <% (61..72).each do |j| %>
            <a style="color: white;" href="?number=<%= j%>"><%= "[##{j}]" %> </a>
        <% end %>
      </p>

      <div style="margin-top: 20px">
        <a href="/" >
          <img src="images/back_button.png">
        </a>
      </div>
    </td>
  </tr>
</table>