<div class="container">
<div style="margin-top: 10px;">
  <% if @result %>
  <table>
    <tr>
      <td rowspan="2"><img class="no_print" src="/images/description.png" /></td>
      <td class="admin_title" style="padding-top:30px">RESULT</td>
    </tr>

    <tr>
      <td style="max-width: 700px;">
        <table class="admin_content no_print">
          <tr>
            <td colspan="3">
              <%= @processing.updated_at.in_time_zone("Seoul").time.strftime("%d-%m-%Y %p %I:%M") %> | SCAN <%= @processing.id %> | KOREAN 한국어판 | <%= @processing.name %></td>
          </tr>
          <tr class="image_tr">
            <td> <%= image_tag @result.image1.url %> </td>
            <td> <%= image_tag @result.image2.url %> </td>
            <td></td>
          </tr>
          <tr>
            <td style="font-size: 15px;"> CHARACTER & DISPOSITION </td>
            <td style="font-size: 15px;"> ADVANTAGES AND DISADVANTAGES </td>
            <td></td>
            <!--<td style="text-align: right;"> <img src="/images/open_button.png" />  </td>-->
            <!--<td style="text-align: right;"> <img src="/images/open_button.png" />  </td>-->
          </tr>
          <tr>
            <td><textarea name="text1" class="large_print description_textarea"><%= @result.text1 %></textarea></td>
            <td><textarea name="text2" class="large_print description_textarea"><%= @result.text2 %></textarea></td>
            <td  class="no_print" style="min-width: 150px;"><a href="/scan" onclick="call_event('rescan');" ><img  src="/images/rescan_button.png" /> </a>
              <br/><br/>
              <a href="#" ><img class="no_print" src="/images/print_button.png" onclick="call_event('print'); window.print()" /> </a> </td></td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
      <div class="only_print">
        <div class="image_tr">
          <%= image_tag @result.image1.url %>
          <textarea name="text1" class="large_print description_textarea page_break_after"><%= @result.text1 %></textarea>

          <%= image_tag @result.image2.url %>
          <textarea name="text2" class="large_print description_textarea"><%= @result.text2 %></textarea>
        </div>
      </div>
  <% else %>
      <h1 style="color: white;"> Invalid Access </h1>
      <a onclick="history.go(-1);">
        <img src="/images/back_button.png">
      </a>
  <% end %>
</div>
</div>