<style>

    div.print_container {
        width: 95%;
        margin: auto;
    }
    div.print_container div span {
        text-align: left;
        width: 100%;
        display: block;

        margin-bottom: 10px;

        font-size: 1.1em;
    }
    div.print_container img {
        width: 100%;
    }
  div.print_container div {
        font-size: 0.9em;
      line-height: 1.5em;
	text-align: left;
      margin-bottom: 30px;
  }

  div.print_container div pre {
      background: none;
      border: none;
      display: inline;
  }

        .mid_layout {
            width: 100%;
        }
</style>
<div class="print_container">
  <div>
    <span>
    <%= @processing.updated_at.in_time_zone("Seoul").time.strftime("%d-%m-%Y %p %I:%M") %> | SCAN <%= @processing.id %> | KOREAN 한국어판 | <%= @processing.name %></td>
</span>
  </div>
  <div>
    <span>
    MINDCAREKOREA.COM
        <span>
  </div>
  <div>
    <%= image_tag @result.image1.url %>
  </div>
  <div>
    <pre><%= @result.text1 %></pre>
  </div>
  <div class="page_break_after"></div>
  <div>
    <%= image_tag @result.image2.url %>
  </div>

  <div>
    <pre><%= @result.text2 %></pre>
  </div>






</div>

<script>
    window.print();
</script>
